<!DOCTYPE html>
<html lang="es" ng-app="PokedexApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <!-- Setup Ionic -->
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- Setup App -->
  <script src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="app.css">
  <link rel="stylesheet" href="assets/css/main.css">

</head>
<body ng-controller="PokedexCtrl">
  <ion-pane>
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">Ionic Pok&#xE9;dex </h1>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader bar-light  item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchPoke">
      </label>
    </ion-header-bar>
    <ion-content>
      <ion-refresher pulling-text=" Reloading Pokemons ... " on-refresh="reloadPokemons()"></ion-refresher>
      <ion-list class="list card">
        <ion-item ng-repeat="p in pokemons | filter:searchPoke | limitTo:numberOfPokemonsToDisplay" class="item  item-thumbnail-left">
            <img ng-src="{{p.img}}">
            <h2> <span class="id">#{{p.id}}</span> - {{ p.name }} </h2>
            <p> {{p.species}} </p>
            <span ng-repeat="t in p.type"> <span class="type type-{{t | lowercase}}">{{t}}</span> </span>
        </ion-item>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="pokemons.length > numberOfPokemonsToDisplay"></ion-infinite-scroll>
      </ion-list>
    </ion-content>
  </ion-pane>
</body>
</html>
